{% extends 'base.html' %}
{% block content %}
{% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-success flash-message text-center">
                <p>{{ message }}</p>
            </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
 <h1 class="d-flex justify-content-center mb-4"> Expense Tracker </h1>
 
 <table class="table table-striped table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Date</th>
            <th scope="col">Category</th>
            <th scope="col">Amount</th>
        </tr>
    </thead>
    <tbody>
        {% for expense in expenses %}
        <tr>
            <th scope="row">{{ expense.id }}</th>
            <td>{{ expense.date }}</td>
            <td>{{ expense.category }}</td>
            <td>{{ expense.amount }}</td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
    <div class="d-flex justify-content-center">
        <a href={{ url_for('add')}} class="text-decoration-none text-black btn btn-outline-primary col-4 text-center" role="button">Add balance changes</a>
    </div>
{% endblock%}

