{% extends 'base.html' %}
{% block content %}
{% with messages = get_flashed_messages(with_categories= True) %}
        {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{ category }} flash-message text-center col-6 m-auto mb-2">
                <p>{{ message }}</p>
            </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="d-flex pt-4 justify-content-center ">
        <form action="" method="POST" class="col-md-6 col-10 d-flex flex-column gap-4 justify-content-end card p-4">
          {{ form.hidden_tag() }}
          <div class="form-group">
            {{ form.spouse1_salary.label(class="mb-2")}}
            {{ form.spouse1_salary(class="form-control") }}
        </div>
          <div class="form-group">
            {{ form.spouse2_salary.label(class="mb-2")}}
            {{ form.spouse2_salary(class="form-control") }}
        </div>
          <div class="form-group">
            {{ form.spouse1_hour.label(class="mb-2") }}
            {{ form.spouse1_hour(class="form-control") }}
        </div>
            <div class="form-group">
            {{ form.spouse2_hour.label(class="mb-2") }}
            {{ form.spouse2_hour(class="form-control") }}
        </div>
        <input type="submit" value="Calculate">
    </form>
    </div>

    {% if annual_income %}
    <div class="col-md-6 col-11 gap-4 m-auto card p-4 mt-4 mb-4">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">Spouse</th>
                    <th scope="col">Time frame</th>
                    <th scope="col">Gross Salary</th>
                    <th scope="col">Net Salary</th>
                    <th scope="col">Taxes</th>
                </tr>
            </thead>
                <tbody>
                    <tr>
                        <th scope="row">Joint </th>
                        <td> Annual</td>
                        <td>{{ annual_income }}</td>
                        <td>{{ net_annual_income }}</td>
                        <td>{{ taxes }}</td>
                        </tr>
                    <tr>
                        <th scope="row"></th>
                        <td> Monthly</td>
                        <td>{{ monthly_income }}</td>
                        <td>{{ net_monthly_income }}</td>
                        <td>{{ monthly_tax_income }}</td>
                    </tr>
                    <tr>
                        <th scope="row"></th>
                        <td> Weekly</td>
                        <td>{{ weekly_income }}</td>
                        <td>{{ net_weekly_income }}</td>
                        <td>{{ weekly_tax_income }}</td>
                    </tr>
                    <tr>
                        <th scope="row"></th>
                        <td> Daily</td>
                        <td>{{ daily_income }}</td>
                        <td>{{ net_daily_income }}</td>
                        <td>{{ daily_tax_income }}</td>
                    </tr>
                    <tr>
                        <th scope="row"></th>
                    </tr>
                    <tr>
                        <th scope="row">1° Spouse </th>
                        <td> Annual</td>
                        <td>{{ spouse1_annual_income }}</td>
                        <td>{{ net_spouse1_annual_income }}</td>
                        <td>{{ spouse1_tax_income }}</td>

                        </tr>
                    <tr>
                    </tr>
                    <tr>
                        <th scope="row"></th>
                        <td> Monthly</td>
                        <td>{{ spouse1_monthly_income }}</td>
                        <td>{{ net_spouse1_monthly_income }}</td>
                        <td>{{ net_spouse1_monthly_income_tax }}</td>
                    </tr>
                    <tr>
                        <th scope="row"></th>
                        <td> Weekly</td>
                        <td>{{ spouse1_weekly_income }}</td>
                        <td>{{ net_spouse1_weekly_income }}</td>
                        <td>{{ net_spouse1_weekly_income_tax }}</td>
                    </tr>
                    <tr>
                        <th scope="row"></th>
                        <td> Daily</td>
                        <td>{{ spouse1_daily_income }}</td>
                        <td>{{ net_spouse1_daily_income }}</td>
                        <td>{{ net_spouse1_daily_income_tax }}</td>
                    </tr>
                    <tr>
                        <th scope="row"></th>
                        <td> Hourly</td>
                        <td>{{ spouse1_hourly_income }}</td>
                        <td>{{ net_spouse1_hourly_income }}</td>
                        <td>{{ net_spouse1_hourly_income_tax }}</td>
                    </tr>
                    <th scope="row"></th>
                    <tr>
                        <th scope="row">2° Spouse </th>
                        <td> Annual</td>
                        <td>{{ spouse2_annual_income }}</td>
                        <td>{{ net_annual_income }}</td>
                        <td>{{ taxes }}</td>
                        </tr>
                    <tr>
                    </tr>
                    <tr>
                        <th scope="row"></th>
                        <td> Monthly</td>
                        <td>{{ monthly_income }}</td>
                        <td>{{ net_monthly_income }}</td>
                        <td>{{ net_spouse2_monthly_income_tax }}</td>
                    </tr>
                    <tr>
                        <th scope="row"></th>
                        <td> Weekly</td>
                        <td>{{ spouse2_weekly_income }}</td>
                        <td>{{ net_spouse2_weekly_income }}</td>
                        <td>{{ net_spouse2_weekly_income_tax }}</td>
                    </tr>
                    <tr>
                        <th scope="row"></th>
                        <td> Daily</td>
                        <td>{{ daily_income }}</td>
                        <td>{{ net_spouse2_daily_income }}</td>
                        <td>{{ net_spouse2_daily_income_tax }}</td>
                    </tr>
                    <tr>
                        <th scope="row"></th>
                        <td> Hourly</td>
                        <td>{{ spouse2_hourly_income }}</td>
                        <td>{{ net_spouse2_hourly_income }}</td>
                        <td>{{ net_spouse2_hourly_income_tax }}</td>
                    </tr>
                </tbody>
        </table>
    {% endif %}

    {% endblock %}